In [1]:
import os
from os import environ
import pandas as pd
import numpy as np
import geopandas as gpd
from sodapy import Socrata
from scipy.stats import pearsonr
import matplotlib.pyplot as plt

In [2]:
from sklearn.decomposition import PCA as sklearnPCA
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.kernel_ridge import KernelRidge

In [3]:
import warnings
warnings.filterwarnings("ignore")

MorningAir

In [4]:
census_tract_path = '/Users/Albert/Jupyter/us_tracts/us_tract.shp'
tracts = gpd.read_file(census_tract_path)

In [5]:
morn_30 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAirMorning6.csv')

In [6]:
morn_31 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAir31Morning.csv')

In [7]:
morn_01 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAir01Morn.csv')

In [8]:
morn = pd.DataFrame()

In [9]:
morn_30['aqi'] = morn_30.rename(columns = {'aqi':'aqi30'}, inplace=True)

In [10]:
morn_31['aqi'] = morn_31.rename(columns = {'aqi':'aqi31'}, inplace=True)

In [11]:
morn_01['aqi'] = morn_01.rename(columns = {'aqi':'aqi01'}, inplace=True)

In [12]:
morn = morn_30.merge(morn_31, on='region_id')

In [13]:
morn = morn.merge(morn_01, on='region_id')

In [14]:
cols = ['region_id','aqi30','aqi31','aqi01']

In [15]:
morn = morn[cols]

In [16]:
morn_aqi = pd.DataFrame()

In [17]:
morn_aqi = morn.set_index('region_id').mean(axis=1).rename('aqi_morn').reset_index()

In [18]:
morn_aqi['region_id'] = morn_aqi['region_id'].astype(str)

In [19]:
morn_aqi.head(10)

     region_id   aqi_morn
0  36061002400  83.000000
1  36061011202  75.000000
2  36061004400  75.000000
3  36061003900  73.333333
4  36061006000  83.333333
5  36061009200  73.666667
6  36061027300  81.000000
7  36061031100  75.666667
8  36061003200  77.666667
9  36061001502  72.333333

NoonAir

In [92]:
noon_30 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAirNoon13.csv')
noon_31 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAir31Noon.csv')
noon_01 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAir01Noon.csv')

In [93]:
noon = pd.DataFrame()

In [94]:
noon_30['aqi'] = noon_30.rename(columns = {'aqi':'aqi30'}, inplace=True)
noon_31['aqi'] = noon_31.rename(columns = {'aqi':'aqi31'}, inplace=True)
noon_01['aqi'] = noon_01.rename(columns = {'aqi':'aqi01'}, inplace=True)

In [95]:
noon = noon_30.merge(noon_31, on='region_id')
noon = noon.merge(noon_01, on='region_id')

In [96]:
cols = ['region_id','aqi30','aqi31','aqi01']

In [97]:
noon = noon[cols]

In [98]:
noon_aqi = pd.DataFrame()

In [99]:
noon_aqi = noon.set_index('region_id').mean(axis=1).rename('aqi_noon').reset_index()

In [100]:
noon_aqi['region_id'] = noon_aqi['region_id'].astype(str)

In [101]:
noon_aqi.head(10)

     region_id   aqi_noon
0  36061002400  78.000000
1  36061011202  63.000000
2  36061004400  66.666667
3  36061003900  65.000000
4  36061006000  78.000000
5  36061009200  64.666667
6  36061027300  78.333333
7  36061031100  59.666667
8  36061003200  70.000000
9  36061001502  62.333333

EvenAir

In [102]:
even_30 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAirEven18.csv')
even_31 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAir31Even.csv')
even_01 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAir01Even.csv')

In [103]:
even_30['aqi'] = even_30.rename(columns = {'aqi':'aqi30'}, inplace=True)
even_31['aqi'] = even_31.rename(columns = {'aqi':'aqi31'}, inplace=True)
even_01['aqi'] = even_01.rename(columns = {'aqi':'aqi01'}, inplace=True)

In [104]:
even = pd.DataFrame()

In [105]:
even = even_30.merge(even_31, on='region_id')
even = even.merge(even_01, on='region_id')

In [106]:
cols = ['region_id','aqi30','aqi31','aqi01']

In [107]:
even = even[cols]

In [108]:
even_aqi = pd.DataFrame()

In [109]:
even_aqi = even.set_index('region_id').mean(axis=1).rename('aqi_even').reset_index()

In [110]:
even_aqi['region_id'] = even_aqi['region_id'].astype(str)

In [111]:
even_aqi.head(10)

     region_id   aqi_even
0  36061002400  71.666667
1  36061011202  66.333333
2  36061004400  66.000000
3  36061003900  67.000000
4  36061006000  71.666667
5  36061009200  65.333333
6  36061027300  69.333333
7  36061031100  59.000000
8  36061003200  70.000000
9  36061001502  67.333333

NightAir

In [112]:
night_30 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAirNight23.csv')
night_31 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAir31Night.csv')
night_01 = pd.read_csv('/Users/Albert/Jupyter/ManhattanAir01Night.csv')

In [113]:
night_30['aqi'] = night_30.rename(columns = {'aqi':'aqi30'}, inplace=True)
night_31['aqi'] = night_31.rename(columns = {'aqi':'aqi31'}, inplace=True)
night_01['aqi'] = night_01.rename(columns = {'aqi':'aqi01'}, inplace=True)

In [114]:
night = pd.DataFrame()

In [115]:
night = night_30.merge(night_31, on='region_id')
night = night.merge(night_01, on='region_id')

In [116]:
cols = ['region_id','aqi30','aqi31','aqi01']

In [117]:
night = night[cols]

In [118]:
night_aqi = pd.DataFrame()

In [119]:
night_aqi = night.set_index('region_id').mean(axis=1).rename('aqi_night').reset_index()

In [120]:
night_aqi['region_id'] = night_aqi['region_id'].astype(str)

In [121]:
night_aqi.head(10)

     region_id  aqi_night
0  36061002400  71.333333
1  36061011202  68.000000
2  36061004400  65.666667
3  36061003900  60.333333
4  36061006000  71.333333
5  36061009200  59.333333
6  36061027300  71.333333
7  36061031100  57.000000
8  36061003200  63.000000
9  36061001502  64.666667

In [134]:
morn.to_csv('morn.csv')
morn_aqi.to_csv('morn_aqi.csv')

In [135]:
noon.to_csv('noon.csv')
noon_aqi.to_csv('noon_aqi.csv')

In [136]:
even.to_csv('even.csv')
even_aqi.to_csv('even_aqi.csv')

In [137]:
night.to_csv('night.csv')
night_aqi.to_csv('night_aqi.csv')

Correlation

In [154]:
temp = pd.read_csv('merged0419.csv')

In [155]:
temp['region_id'] = temp['region_id'].astype(str)

Morning Correlation

In [156]:
tempm = morn_aqi.merge(temp, on='region_id')

In [157]:
tempm.head(3)

,region_id,aqi_morn,heightroof,groundelev,ld01,ld02,ld03,ld04,ld05,ld06,...,volume,assessland,assesstot,respct,offpct,retpct,facpct,strpct,totalemission,directemission
0,36061011202,75.000000,295.038846,47.961538,0.0,0.0,35171.0,32535.0,342262.0,0.0,...,1.421244e+08,1001.239221,4947.380983,0.083092,0.756442,0.079605,0.0,0.001150,58787.0,2196.0
1,36061004400,75.000000,58.000000,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,2.238177e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1234.7,86.3
2,36061003900,73.333333,118.596244,12.000000,0.0,16004.0,232931.0,487120.0,242669.0,0.0,...,9.170093e+07,102.095235,1062.013714,0.624222,0.281913,0.032668,0.0,0.005671,32562.6,12887.6

In [158]:
#tracts.merge(temp, on='region_id').plot(column='alonepct', figsize=(12, 12), legend=True)

In [159]:
corrs = tempm.drop(['region_id'], axis=1).apply(lambda x: pearsonr(x, tempm['aqi_morn']))
corrs = corrs.reset_index()
corrs[['r', 'p']] = pd.DataFrame(corrs[0].tolist(), 
                                 index=corrs.index)
corrs.drop([0], axis=1, inplace=True)

In [160]:
corrs.loc[corrs['p'] < .05].sort_values(by='r', ascending=False)[1:20]

         index         r         p
4         ld02  0.215207  0.000279
2   groundelev  0.179451  0.002534
19      respct  0.177087  0.002893
14    alonepct  0.139411  0.019389
16      volume -0.144506  0.015338
7         ld05 -0.169262  0.004438
1   heightroof -0.177138  0.002885
20      offpct -0.183479  0.002014
21      retpct -0.195805  0.000968
15         far -0.202543  0.000636
17  assessland -0.209040  0.000419
18   assesstot -0.241548  0.000043

In [162]:
corrs.head(3)

        index         r         p
0    aqi_morn  1.000000  0.000000
1  heightroof -0.177138  0.002885
2  groundelev  0.179451  0.002534

In [163]:
corrs_morn = corrs

In [164]:
corrs_morn.head(3)

        index         r         p
0    aqi_morn  1.000000  0.000000
1  heightroof -0.177138  0.002885
2  groundelev  0.179451  0.002534

In [165]:
corrs_morn.to_csv('corrs_morn.csv')

Noon Correlation

In [166]:
tempn = noon_aqi.merge(temp, on='region_id')

In [167]:
tempn.head(3)

,region_id,aqi_noon,heightroof,groundelev,ld01,ld02,ld03,ld04,ld05,ld06,...,volume,assessland,assesstot,respct,offpct,retpct,facpct,strpct,totalemission,directemission
0,36061011202,63.000000,295.038846,47.961538,0.0,0.0,35171.0,32535.0,342262.0,0.0,...,1.421244e+08,1001.239221,4947.380983,0.083092,0.756442,0.079605,0.0,0.001150,58787.0,2196.0
1,36061004400,66.666667,58.000000,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,2.238177e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1234.7,86.3
2,36061003900,65.000000,118.596244,12.000000,0.0,16004.0,232931.0,487120.0,242669.0,0.0,...,9.170093e+07,102.095235,1062.013714,0.624222,0.281913,0.032668,0.0,0.005671,32562.6,12887.6

In [168]:
corrs = tempn.drop(['region_id'], axis=1).apply(lambda x: pearsonr(x, tempn['aqi_noon']))
corrs = corrs.reset_index()
corrs[['r', 'p']] = pd.DataFrame(corrs[0].tolist(), 
                                 index=corrs.index)
corrs.drop([0], axis=1, inplace=True)

In [169]:
corrs.loc[corrs['p'] < .05].sort_values(by='r', ascending=False)[1:20]

         index         r             p
4         ld02  0.312347  8.946326e-08
2   groundelev  0.197524  8.709358e-04
14    alonepct  0.191057  1.290317e-03
19      respct  0.153383  1.002515e-02
12        ld10  0.136184  2.241132e-02
16      volume -0.171550  3.922938e-03
20      offpct -0.172211  3.784641e-03
21      retpct -0.187481  1.595203e-03
7         ld05 -0.189297  1.432951e-03
1   heightroof -0.236834  6.083276e-05
17  assessland -0.259902  1.017537e-05
15         far -0.273344  3.310803e-06
18   assesstot -0.305635  1.730973e-07

In [170]:
corrs_noon = corrs

In [171]:
corrs_noon.to_csv('corrs_noon.csv')

Even Correlation

In [172]:
tempe = even_aqi.merge(temp, on='region_id')

In [173]:
tempe.head(3)

,region_id,aqi_even,heightroof,groundelev,ld01,ld02,ld03,ld04,ld05,ld06,...,volume,assessland,assesstot,respct,offpct,retpct,facpct,strpct,totalemission,directemission
0,36061011202,66.333333,295.038846,47.961538,0.0,0.0,35171.0,32535.0,342262.0,0.0,...,1.421244e+08,1001.239221,4947.380983,0.083092,0.756442,0.079605,0.0,0.001150,58787.0,2196.0
1,36061004400,66.000000,58.000000,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,2.238177e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1234.7,86.3
2,36061003900,67.000000,118.596244,12.000000,0.0,16004.0,232931.0,487120.0,242669.0,0.0,...,9.170093e+07,102.095235,1062.013714,0.624222,0.281913,0.032668,0.0,0.005671,32562.6,12887.6

In [174]:
corrs = tempe.drop(['region_id'], axis=1).apply(lambda x: pearsonr(x, tempe['aqi_even']))
corrs = corrs.reset_index()
corrs[['r', 'p']] = pd.DataFrame(corrs[0].tolist(), 
                                 index=corrs.index)
corrs.drop([0], axis=1, inplace=True)

In [175]:
corrs.loc[corrs['p'] < .05].sort_values(by='r', ascending=False)[1:20]

         index         r         p
4         ld02  0.201615  0.000675
19      respct  0.183407  0.002022
23      strpct -0.119418  0.045495
17  assessland -0.125332  0.035740
18   assesstot -0.133815  0.024881

In [176]:
corrs_even = corrs

In [177]:
corrs_even.to_csv('corrs_even.csv')

Night Correlation

In [178]:
tempni = night_aqi.merge(temp, on='region_id')

In [179]:
tempni.head(3)

,region_id,aqi_night,heightroof,groundelev,ld01,ld02,ld03,ld04,ld05,ld06,...,volume,assessland,assesstot,respct,offpct,retpct,facpct,strpct,totalemission,directemission
0,36061011202,68.000000,295.038846,47.961538,0.0,0.0,35171.0,32535.0,342262.0,0.0,...,1.421244e+08,1001.239221,4947.380983,0.083092,0.756442,0.079605,0.0,0.001150,58787.0,2196.0
1,36061004400,65.666667,58.000000,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,2.238177e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1234.7,86.3
2,36061003900,60.333333,118.596244,12.000000,0.0,16004.0,232931.0,487120.0,242669.0,0.0,...,9.170093e+07,102.095235,1062.013714,0.624222,0.281913,0.032668,0.0,0.005671,32562.6,12887.6

In [180]:
corrs = tempni.drop(['region_id'], axis=1).apply(lambda x: pearsonr(x, tempni['aqi_night']))
corrs = corrs.reset_index()
corrs[['r', 'p']] = pd.DataFrame(corrs[0].tolist(), 
                                 index=corrs.index)
corrs.drop([0], axis=1, inplace=True)

In [181]:
corrs.loc[corrs['p'] < .05].sort_values(by='r', ascending=False)[1:20]

         index         r             p
4         ld02  0.257454  1.240341e-05
14    alonepct  0.212403  3.362405e-04
19      respct  0.177747  2.788357e-03
2   groundelev  0.135145  2.346651e-02
23      strpct -0.121644  4.158846e-02
21      retpct -0.147184  1.352213e-02
7         ld05 -0.175903  3.090076e-03
16      volume -0.212639  3.310183e-04
20      offpct -0.214907  2.845982e-04
17  assessland -0.247352  2.750121e-05
1   heightroof -0.252340  1.863832e-05
18   assesstot -0.268325  5.071102e-06
15         far -0.295291  4.636636e-07

In [182]:
corrs_night = corrs

In [183]:
corrs_night.to_csv('corrs_night.csv')

Read File

In [4]:
corrs_night = pd.read_csv('corrs_night.csv')

In [5]:
temp = pd.read_csv('merged0419.csv')

In [6]:
night_aqi = pd.read_csv('night_aqi.csv')

Model Training

In [186]:
target = 'aqi_night'
current_cols = corrs_night.reindex(corrs.r.abs().sort_values(ascending=False).index)[2:4].values[:,0].tolist()
sig_df = tempni[current_cols + [target]]

X = sig_df.drop([target], axis=1)
y = sig_df[target]
hyper_params = {'tol': np.linspace(1e-4, 0.1, 4), 
                'alpha': np.linspace(0.5,2.0, 4)}

reg = GridSearchCV(Lasso(), hyper_params)

In [187]:
predictions = []
true = []
kf = KFold(n_splits=10)
kf.get_n_splits(X)
for train_index, test_index in kf.split(X):
        X_train, X_test = X.iloc[train_index], X.iloc[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]

        reg.fit(X_train, y_train)
        preds = reg.predict(X_test)
        predictions.append(preds)
        true.append(y_test)
predictions = np.array([item for sublist in predictions for item in sublist])
true = np.array([item for sublist in true for item in sublist])
res = {'rmse': mean_squared_error(true, predictions, squared=False),
       'R-squared': r2_score(true, predictions),
       'avg abs difference': np.mean(abs(predictions - true)),
       'best_params': reg.best_params_,
       'cols': current_cols}
res

{'rmse': 3.0685008776757807,
 'R-squared': 0.07995085886251363,
 'avg abs difference': 2.3772961957545498,
 'best_params': {'alpha': 2.0, 'tol': 0.0001},
 'cols': ['assesstot', 'ld02']}